{% extends "base.html" %}
<!---->
{% block content %} {% load static %}
<script src="{% static 'js/index.js' %}"></script>

<div class="d-flex align-items-center flex-direction-column">
  <div>
    <h2>{{ name }}</h2>
    <h4>{{ created }}</h4>
  </div>

  <div id="messageContainer">
    {% for message in messages %}
    <div>
      <span class="color-gray">[{{ message.created_at }}]:</span>
      {{ message.author }}: <i>{{ message.text }}</i>
    </div>
    {% endfor %}
  </div>

  <form onsubmit="saveMessage(); return false;" method="post">
    <fieldset
      id="fieldset"
      class="d-flex justify-content-center align-items-center flex-direction-column"
    >
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          name="message"
          type="text"
          id="messageField"
        />
        <label class="mdl-textfield__label" for="messageField">Text...</label>
      </div>
      <div>
        <button
          id="sendBtn"
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        >
          Send
        </button>
      </div>
      <div class="ml-16" id="loadingContainer">
        <div
          class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active hidden"
          id="loadingSpinner"
        ></div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
