{% extends "base.html" %} {% block content %}
<!---->
{% if request.user.is_authenticated %}
<!---->

{% load static %}

<!--
  <script src="{% static 'js/shared.js' %}"></script>

-->

<script>
  const preliminaryAddText = (date, text) => {
    messageContainer.innerHTML += `
    <div id="deleteMessage">
      <span class="color-gray">[${date}]:</span>
      {{ request.user }}: <i class="color-gray">${text}</i>
    </div>
    `;
  };

  const sendMessage = async () => {
    const fd = new FormData();
    const token = "{{ csrf_token }}";
    fd.append("message", messageField.value);
    fd.append("csrfmiddlewaretoken", token);

    try {
      return await fetch("/chat/", {
        method: "POST",
        body: fd,
      });
    } catch (e) {
      console.error("An error occured", e);
    }
  };

  const addText = (date, text) => {
    messageContainer.innerHTML += `
    <div>
      <span class="color-gray">[${date}]:</span>
      {{ request.user }}: <i>${text}</i>
    </div>
    `;
  };

  const getDateString = (date) => {
    const month = date.toLocaleDateString("en-US", { month: "short" });
    const day = date.toLocaleDateString("en-US", { day: "numeric" });
    const year = date.toLocaleDateString("en-US", { year: "numeric" });

    return `${month}. ${day}, ${year}`;
  };

  const getLoadSpinner = () =>
    '<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" id="loadingSpinner"></div>';

  const saveMessage = async () => {
    loadingSpinner.classList.remove("hidden");
    preliminaryAddText(messageField.value, getDateString(new Date()));
    const response = await sendMessage();
    document.getElementById("deleteMessage").remove();

    const json = JSON.parse(await response.json());
    console.log("json", json.fields.text);
    addText(
      getDateString(new Date(`${json.fields.created_at}`)),
      json.fields.text
    );
    loadingSpinner.classList.add("hidden");
  };
</script>

<div>
  <h2>{{ name }}</h2>
  <h4>{{ created }}</h4>
</div>

<div id="messageContainer">
  {% for message in messages %}
  <div>
    <span class="color-gray">[{{ message.created_at }}]:</span>
    {{ message.author }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

<form onsubmit="saveMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="message"
      type="text"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <div class="d-flex">
    <div>
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Send
      </button>
    </div>
    <div class="ml-16" id="loadingContainer">
      <div
        class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active hidden"
        id="loadingSpinner"
      ></div>
    </div>
  </div>
</form>

{% else %}
<h1>Nicht eingelogt</h1>
<p>
  Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br />
  Bitte klicke <a href="/login/">hier</a>
</p>
{% endif %} {% endblock %}
