{% extends "base.html" %}
<!--_-->
{% block content %}
<!---->
{% load static %}
<script src="{% static 'js/register.js' %}"></script>

<div class="d-flex align-items-center flex-direction-column">
  <h1 class="text-center">Register</h1>
  <div>
    <form onsubmit="register(); return false;" id="form">
      <fieldset
        class="d-flex align-items-center flex-direction-column"
        id="fieldset"
      >
        <div>
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          >
            <input
              class="mdl-textfield__input"
              name="username"
              type="text"
              id="username"
            />
            <label class="mdl-textfield__label" for="username">Username</label>
          </div>
        </div>
        <div>
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          >
            <input
              class="mdl-textfield__input"
              name="email"
              type="text"
              id="email"
            />
            <label class="mdl-textfield__label" for="email">E-Mail</label>
          </div>
        </div>
        <div>
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          >
            <input
              class="mdl-textfield__input"
              name="password"
              type="text"
              id="password"
            />
            <label class="mdl-textfield__label" for="password">Password</label>
          </div>
        </div>
        <div>
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          >
            <input
              class="mdl-textfield__input"
              name="passwordRepeat"
              type="text"
              id="passwordRepeat"
            />
            <label class="mdl-textfield__label" for="passwordRepeat"
              >Reapeat Password</label
            >
          </div>
        </div>
        <div class="d-flex align-items-center flex-direction-column mb-16">
          <div>
            <button
              id="registerBtn"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            >
              Register
            </button>
          </div>
          <div class="ml-16" id="loadingContainer">
            <div
              class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active hidden"
              id="loadingSpinner"
            ></div>
          </div>
        </div>

        <div id="notMatching"></div>

        <div id="provideValidInput"></div>

        <div id="someError"></div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
