.color-gray {
  color: rgba(0, 0, 0, 0.4);
}

.color-red {
  color: red;
}

.mainContent {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Flexbox */
.d-flex {
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

/* SPACING */
.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.text-center {
  text-align: center;
}