.color-gray {
  color: rgba(0, 0, 0, 0.4);
}

.mainContent {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.d-flex {
  display: flex!important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}