.color-gray {
  color: rgba(0, 0, 0, 0.4);
}

.color-red {
  color: red;
}

.mainContent {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
